/* estructura relacionada con 
<link rel="stylesheet" href="style.css">
id{
	propiedd: valor;
}
*/

body{
	text-align: center;
}
h1{
	color: orange
}
.center-screen{
	position: absolute;
	left: 50%;
	top:50;
	transform: translate(-50%, -50%);
}
.azul{
	color: blue;
}
#rojo{
	color:red;
}
button{
	color: green;
	display: block;
	margin: 0 auto 28px;
}